<div class="row vh-100 justify-content-center align-items-center">
  <div class="col-10 col-md-8 col-lg-7 col-xl-5">
    <div class="card flex-nowrap">
      <div class="card-body">
        <div class="h-100 login-form-column position-relative">
          <div class="login-form">
            <div class="login-heading text-center">
              <h3 class="text-dark text-center mb-3"><b>Reset Password?</b></h3>
              <p>
                The password must contained 1 Upper, 1 Lower, 1 Number and at
                least 8 Characters.
              </p>
            </div>
            <form action="">
              <div class="form-group mb-20">
                <div class="login-inputs input-group">
                  <span class="input-group-text">
                    <i class="icon-envelope"></i>
                  </span>
                  <input
                    type="text"
                    class="form-control"
                    placeholder="Email Address"
                  />
                </div>
                <!-- <div class="text-danger" *ngIf="loginFields.email?.errors?.required && loginFormRef.submitted">
                  Please type your email address.
                </div>
                <div class="text-danger" *ngIf="loginFields.email?.errors?.email && loginFormRef.submitted">
                  Email address is invalid.
                </div> -->
              </div>
              <div class="form-group mb-20">
                <div class="login-inputs input-group password-fields">
                  <span class="input-group-text">
                    <i class="icon-lock"></i>
                  </span>
                  <input
                    [type]="passFieldType ? 'text' : 'password'"
                    maxlength="20"
                    class="form-control"
                    placeholder="New Password"
                  />
                  <button
                    class="btn btn-outline-c8c8 border-left-0"
                    type="button"
                    (click)="togglePassFieldType()"
                  >
                    <i
                      class="fs-16"
                      [ngClass]="passFieldType ? 'icon-eye-o' : 'icon-eye-c'"
                    ></i>
                  </button>
                </div>
                <div class="text-danger ms-37">Please type your password.</div>
                <div class="form-text ms-37">
                  Must contain 1 Upper, 1 Lower, 1 Number and at least 8
                  Characters
                </div>
              </div>
              <div class="form-group mb-20">
                <div class="login-inputs input-group password-fields">
                  <span class="input-group-text">
                    <i class="icon-lock"></i>
                  </span>
                  <input
                    [type]="passFieldType ? 'text' : 'password'"
                    maxlength="20"
                    class="form-control"
                    placeholder="Confirm new Password"
                  />
                  <button
                    class="btn btn-outline-c8c8 border-left-0"
                    type="button"
                    (click)="togglePassFieldType()"
                  >
                    <i
                      class="fs-16"
                      [ngClass]="passFieldType ? 'icon-eye-o' : 'icon-eye-c'"
                    ></i>
                  </button>
                </div>
                <!-- <div class="text-danger" *ngIf="loginFields.pass?.errors && loginFormRef.submitted">
                  Please type your password.
                </div> -->
                <div class="form-text ms-37">
                  Must contain 1 Upper, 1 Lower, 1 Number and at least 8
                  Characters
                </div>
              </div>
              <div class="px-3 mb-80">
                <button
                  class="btn btn-lg btn-secondary text-white text-capitalize w-100 btn-with-loader"
                >
                  Save Changes
                  <btn-loader *ngIf="isLoading"></btn-loader>
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
