<div class="modal-header justify-content-center">
  <div class="col-12 d-flex justify-content-start">
    <h4 class="modal-title">New Note</h4>
    <a class="btn-link modal-close" aria-label="Close" (click)="_modal.close()">
      <i class="icon-close"></i>
    </a>
  </div>
</div>
<div class="modal-body">
  <div class="row flat-inputs">
    <div class="col-12 form-group mb-3">
      <label for="note">Note</label>
      <textarea id="note" cols="30" rows="5" class="form-control" placeholder="Write Description" style="height: 64px;"></textarea>
    </div>
    <div class="col-12 col-md-6 mt-4">
      <button class="btn btn-lg btn-secondary fw-bold w-100 text-white">
        Save
      </button>
    </div>
  </div>
</div>
