<div
  class="login-form"
  *ngIf="formMode == 'forgot'"
>
  <div class="login-heading mb-80">
    <h3 class="text-tartiary fw-700 text-center mb-3">
      Forgot your password?
    </h3>
    <p
      class="mx-auto"
      style="max-width: 360px;"
    >Please enter your email address. After sending email forget password request, please check your spam / junk email folder. Please
      note on
      uppercase and lowercase fonts, and make sure there are no spaces in email address.</p>
  </div>

  <form
    action=""
    (submit)="handleSubmit()"
    [formGroup]="forgotForm"
    #forgotPasswordFormRef="ngForm"
  >
    <div class="form-group mb-20">
      <div class="login-inputs input-group">
        <span class="input-group-text">
          <i class="icon-envelope"></i>
        </span>
        <input
          maxlength="200"
          type="text"
          class="form-control"
          formControlName="email"
          placeholder="Email"
        />
      </div>
      <div
        class="text-danger"
        *ngIf="forgotForm.controls.email?.errors?.required && forgotPasswordFormRef.submitted"
      >
        Please type your email address.
      </div>
      <div
        class="text-danger"
        *ngIf="forgotForm.controls.email?.errors?.email && forgotPasswordFormRef.submitted"
      >
        Email address is invalid.
      </div>
    </div>
    <button
      [disabled]="isLoading"
      class="btn btn-lg btn-secondary send-req-btn text-white text-capitalize w-100 btn-with-loader"
    >
      Send Request
      <btn-loader *ngIf="isLoading"></btn-loader>
    </button>
  </form>

  <div class="mt-4 text-center">
    <p class="fs-15">
      Already a member?
      <a
        routerLink="./"
        (click)="onClickSignIn.emit()"
        class="text-primary"
      >
        Sign in
      </a>
    </p>
  </div>
</div>

<div
  class="login-form"
  *ngIf="formMode == 'otp'"
>
  <div class="login-heading mb-80">
    <h3 class="text-tartiary text-center fw-700">Verify Code</h3>
    <p
      class="mx-auto"
      style="max-width: 360px;"
    >
      Enter 4 digit verification code we have sent to {{forgotForm.get('email').value}}. <br />
      Resend after {{ counter | formatTime }}
    </p>
  </div>
  <verify-otp
    [digits]="6"
    [isLoading]="isLoading"
    [clearOtp]="isClearOtp"
    (onOtpInput)="verifyOtp($event)"
    (count)="updateCount($event)"
    (onResendOtp)="reSendOTP()"
  ></verify-otp>
</div>

<div
  class="login-form"
  *ngIf="formMode == 'reset'"
>
  <div class="login-heading mb-80">
    <h3 class="text-tartiary text-center fw-700">Reset Password</h3>
    <p
      class="mx-auto"
      style="max-width: 360px;"
    >The password must contain 1 letter, 1 number, 1 special character and at least 8 Characters.</p>
  </div>

  <form
    action="#"
    (submit)="handleSubmitResetForm()"
    [formGroup]="resetPasswordForm"
    #resetPasswordFormRef="ngForm"
  >
    <div class="form-group mb-20">
      <div class="login-inputs input-group password-fields">
        <span class="input-group-text">
          <i class="icon-lock"></i>
        </span>
        <input
          [type]="isPasswordShown ? 'text' : 'password'"
          maxlength="20"
          class="form-control"
          formControlName="password"
          placeholder="New Password"
        />

        <button
          class="btn btn-outline-c8c8 border-left-0"
          type="button"
          (click)="isPasswordShown = !isPasswordShown"
        >
          <i
            class="fs-16"
            [ngClass]="isPasswordShown ? 'icon-eye-o' : 'icon-eye-c'"
          ></i>
        </button>
      </div>
      <div
        class="text-danger"
        *ngIf="resetPasswordForm.controls.password?.errors?.required && resetPasswordFormRef.submitted"
      >
        New password cannot be empty.
      </div>
      <div
        class="text-danger"
        *ngIf="
        !resetPasswordForm.controls.password?.errors?.required &&
          resetPasswordForm.controls.password?.errors?.passwordStrength &&
          (resetPasswordForm.controls.password?.touched || resetPasswordForm.controls.password?.dirty)
        "
      >
        Enter a combination of at least 8 characters including numbers,special character & letters.
      </div>
    </div>
    <div class="form-group mb-20">
      <div class="login-inputs input-group password-fields">
        <span class="input-group-text">
          <i class="icon-lock"></i>
        </span>
        <input
          [type]="isConfirmPasswordShown ? 'text' : 'password'"
          maxlength="20"
          class="form-control"
          formControlName="confirmPassword"
          placeholder="Repeat Password"
        />

        <button
          class="btn btn-outline-c8c8 border-left-0"
          type="button"
          (click)="isConfirmPasswordShown = !isConfirmPasswordShown"
        >
          <i
            class="fs-16"
            [ngClass]="isConfirmPasswordShown ? 'icon-eye-o' : 'icon-eye-c'"
          ></i>
        </button>
      </div>
      <div
        class="text-danger"
        *ngIf="resetPasswordForm.controls.confirmPassword?.errors?.required && resetPasswordFormRef.submitted"
      >
        Repeat password cannot be empty.
      </div>
      <div
        class="text-danger"
        *ngIf="!resetPasswordForm.controls.confirmPassword?.errors?.required && resetPasswordForm.controls.confirmPassword?.errors?.confirmPasswordError && resetPasswordFormRef.submitted"
      >
        Passsword and Repeat Password doesn't match.
      </div>
      <!-- <div
        class="text-danger"
        *ngIf="
          resetPasswordForm.controls.confirmPassword?.errors?.passwordStrength &&
          (resetPasswordForm.controls.confirmPassword?.touched || resetPasswordForm.controls.confirmPassword?.dirty)
        "
      >
        Enter a combination of at least 8 characters including numbers,special character & letters.
      </div> -->
    </div>
    <button
      [disabled]="isLoading"
      class="btn btn-lg btn-secondary send-req-btn text-white text-capitalize w-100 btn-with-loader"
    >
      Reset Password
      <btn-loader *ngIf="isLoading"></btn-loader>
    </button>
  </form>

  <div class="mt-4 text-center">
    <p class="fs-15">
      Already a member?
      <a
        routerLink="./"
        (click)="onClickSignIn.emit()"
        class="text-primary"
      >Sign in</a>
    </p>
  </div>
</div>
<alert></alert>