.identification-table-title h4{
  font-size: 14px;
  line-height: 16px;
  font-weight: 500;
  font-style: normal;
  color: #429FDD;
}
.identification-image{
  height: 80px;
  width: 80px;
  border-radius: 50%;
  border: 1px solid #429FDD;
}
.identification-table-information{
  margin-left: 10px;
}
td{
  padding-left: 0px !important;
  font-family: 'Roboto';
  font-weight: 500;
  font-size: 13px;
  line-height: 15.25px;
}
