<sidebar-wrapper>
  <!--  <li>-->
  <!--    <a routerLink="/admin/dashboard/" routerLinkActive="active" placement="right" ngbTooltip="Dashboard" tooltipClass="ms-2 text-nowrap">-->
  <!--      <i class="icon-panel"></i>-->
  <!--      <span>Dashboard</span>-->
  <!--    </a>-->
  <!--  </li>-->
  <li>
    <a routerLink="/admin/users" routerLinkActive="active" placement="right" ngbTooltip="User List" tooltipClass="ms-2 text-nowrap">
      <i class="icon-user"></i>
      <span>User List</span>
    </a>
  </li>

  <!-- <li>
    <a routerLink="/admin/employee/" routerLinkActive="active" placement="right" ngbTooltip="Employee List" tooltipClass="ms-2 text-nowrap">
      <i class="icon-user"></i>
      <span>Employee List</span>
    </a>
  </li> -->
  <!-- <li>
    <a routerLink="/admin" [routerLinkActiveOptions]="{exact: true}" routerLinkActive="active" placement="right" ngbTooltip="Events"
      tooltipClass="ms-2 text-nowrap">
      <i class="icon-coffee"></i>
      <span>Events</span>
    </a>
  </li> -->

  <li>
    <a routerLink="/admin/contractor/" routerLinkActive="active" placement="right" ngbTooltip="Contractor List" tooltipClass="ms-2 text-nowrap">
      <i class="icon-people"></i>
      <span>Contractor List</span>
    </a>
  </li>
  <li>
    <a routerLink="/admin/company/" routerLinkActive="active" placement="right" ngbTooltip="Company List" tooltipClass="ms-2 text-nowrap">
      <i class="icon-clipboard"></i>
      <span>Company List</span>
    </a>
  </li>
  <li>
    <a routerLink="/admin/vendor/" routerLinkActive="active" placement="right" ngbTooltip="Vendor List" tooltipClass="ms-2 text-nowrap">
      <i class="icon-cart"></i>
      <span>Vendor List</span>
    </a>
  </li>

  <li>
    <a routerLink="/admin/broker/" routerLinkActive="active" placement="right" ngbTooltip="Broker" tooltipClass="ms-2 text-nowrap">
      <i class="icon-people"></i>
      <span>Broker</span>
    </a>
  </li>


  <!--  <li>-->
  <!--    <a [routerLink]="" placement="right" ngbTooltip="" tooltipClass="ms-2 text-nowrap" class="hasDropdown cursor-pointer"-->
  <!--      (click)="showUsersSubMenu = !showUsersSubMenu">-->
  <!--      <i class="icon-people"></i>-->
  <!--      <span>User Management</span>-->
  <!--      <i [ngClass]="showUsersSubMenu ? 'icon-angle-down' : 'icon-angle-right'"></i>-->
  <!--    </a>-->
  <!--    <ul class="list-unstyled" [ngClass]="{ expanded: showUsersSubMenu }">-->
  <!--      <li>-->
  <!--        <a routerLink="/admin/users" routerLinkActive="active">-->
  <!--          Users-->
  <!--        </a>-->
  <!--      </li>-->
  <!--      <li>-->
  <!--        <a routerLink="/admin/teams" routerLinkActive="active">-->
  <!--          Teams-->
  <!--        </a>-->
  <!--      </li>-->
  <!--    </ul>-->
  <!--  </li>-->
  <!-- <li>
    <a [routerLink]="" placement="right" ngbTooltip="" tooltipClass="ms-2 text-nowrap" class="hasDropdown"
      [ngClass]="{'active': userManagementActive}" (click)="showUsersSubMenu = !showUsersSubMenu">
      <i class="icon-layers"></i>
      <span>User Management</span>
      <i class="icon-angle-right" [ngClass]="
          showUsersSubMenu ? 'icon-angle-right' : 'icon-angle-down'
        "></i>
    </a>
    <ul class="list-unstyled" [ngClass]="{ expanded: showUsersSubMenu }">
      <li>
        <a routerLink="./" routerLinkActive="active">
          LFN Users
        </a>
      </li>
      <li>
        <a routerLink="./" routerLinkActive="active">
          District Users
        </a>
      </li>
      <li>
        <a routerLink="./" routerLinkActive="active">
          Client Users
        </a>
      </li>
    </ul>
  </li> -->
</sidebar-wrapper>
