<div class="row align-items-stretch">
  <div class="col-12 col-lg-4 mb-3 d-flex flex-column">
    <div class="flex-grow-1">
      <img src="assets/images/event-dummy.png" alt="" class="w-100">
    </div>
  </div>
  <div class="col-12 col-lg-4 mb-3 d-flex flex-column">
    <div class="card flex-grow-1">
      <div class="card-body">
        <div class="section-title-2 border-c8c8 mb-4">
          <h2 class="border-c8c8">Event List</h2>
        </div>

        <div class="row">
          <div class="col-12 col-md-6 mb-3">
            <div class="stats-box bg-green-7">
              <i class="icon-switch fs-26 opacity-50"></i>
              <div class="ms-auto text-end">
                <h4 class="mb-0 fw-bold fs-22">120</h4>
                <h5 class="mb-0 fw-bold fs-12">Coming</h5>
              </div>
            </div>
          </div>
          <div class="col-12 col-md-6 mb-3">
            <div class="stats-box bg-red-e">
              <i class="icon-switch fs-26 opacity-50"></i>
              <div class="ms-auto text-end">
                <h4 class="mb-0 fw-bold fs-22">45</h4>
                <h5 class="mb-0 fw-bold fs-12">Not Coming</h5>
              </div>
            </div>
          </div>
          <div class="col-12 col-md-6">
            <div class="stats-box bg-purple-b">
              <i class="icon-switch fs-26 opacity-50"></i>
              <div class="ms-auto text-end">
                <h4 class="mb-0 fw-bold fs-22">65</h4>
                <h5 class="mb-0 fw-bold fs-12">No Action</h5>
              </div>
            </div>
          </div>
          <div class="col-12 col-md-6">
            <div class="stats-box bg-blue-8">
              <i class="icon-switch fs-26 opacity-50"></i>
              <div class="ms-auto text-end">
                <h4 class="mb-0 fw-bold fs-22">120</h4>
                <h5 class="mb-0 fw-bold fs-12">Number of Employee</h5>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-12 col-lg-4 mb-3 d-flex flex-column">
    <div class="card flex-grow-1">
      <div class="card-body">
        <div class="section-title-2 border-c8c8 mb-4">
          <h2 class="border-c8c8">Event List</h2>
        </div>
        <table class="table table-borderless table-stats">
          <tbody>
            <tr>
              <td class="fw-bold">Total Amount</td>
              <td class="text-end">$9875.00</td>
            </tr>
            <tr>
              <td class="fw-bold">Lab</td>
              <td class="text-end">$75.00</td>
            </tr>
            <tr>
              <td class="fw-bold">GYM</td>
              <td class="text-end">$875.00</td>
            </tr>
            <tr>
              <td class="fw-bold">Vitamin Shop</td>
              <td class="text-end">$95.00</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class="col-12 col-lg-4 d-flex flex-column">
    <div class="card flex-grow-1">
      <div class="card-body">
        <div class="section-title-2 border-c8c8 mb-4">
          <h2 class="border-c8c8">Event List</h2>
          <a [routerLink]="[]" class="ms-auto text-gray550">
            <i class="icon-edit fs-18"></i>
          </a>
        </div>
        <table class="table table-borderless table-stats">
          <tbody>
            <tr>
              <td class="fw-bold">Event Name</td>
              <td class="">CocaCola Bio Metrics</td>
            </tr>
            <tr>
              <td class="fw-bold">Date</td>
              <td class="">mm/dd/yyyy</td>
            </tr>
            <tr>
              <td class="fw-bold">Time</td>
              <td class="">hh:mm</td>
            </tr>
            <tr>
              <td class="fw-bold">Location</td>
              <td class="">1717 Main Street, Suite STE 5630,<br>Dallas, TX 75201, US</td>
            </tr>
          </tbody>
        </table>
        <hr class="bg-gray550">
        <h5 class="fs-16 fw-bold">Other Services</h5>
        <table class="table table-borderless table-stats">
          <tbody>
            <tr>
              <td class="fw-bold">Bio Metrics</td>
              <td class="">Heart Rate, BP, Temperature</td>
            </tr>
            <tr>
              <td class="fw-bold">Vaccination</td>
              <td class="">Covid Vaccine, Flu Vaccine</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class="col-12 col-lg-4 d-flex flex-column">
    <div class="card flex-grow-1">
      <div class="card-body">
        <div class="section-title-2 border-c8c8 mb-4">
          <h2 class="border-c8c8">LFN Staff</h2>
          <a [routerLink]="[]" class="ms-auto text-gray550">
            <i class="icon-edit fs-18"></i>
          </a>
        </div>
        <table class="table table-borderless table-stats fw-bold">
          <thead>
            <tr>
              <th>Personnel</th>
              <th class="text-center">Required</th>
              <th class="text-center">Scheduled</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Doctor</td>
              <td class="text-center">1</td>
              <td class="text-center">1</td>
              <td>
                <i class="icon-verify fs-16 align-middle text-success"></i>
              </td>
            </tr>
            <tr>
              <td>Nurse</td>
              <td class="text-center">2</td>
              <td class="text-center">1</td>
              <td>
                <i class="icon-warning-o fs-16 align-middle text-danger"></i>
              </td>
            </tr>
            <tr>
              <td>Assist. Nurse</td>
              <td class="text-center">3</td>
              <td class="text-center">2</td>
              <td>
                <i class="icon-warning-o fs-16 align-middle text-danger"></i>
              </td>
            </tr>
            <tr>
              <td>Event Staff</td>
              <td class="text-center">2</td>
              <td class="text-center">1</td>
              <td>
                <i class="icon-warning-o fs-16 align-middle text-danger"></i>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class="col-12 col-lg-4 d-flex flex-column">
    <div class="card flex-grow-1">
      <div class="card-body">
        <div class="section-title-2 border-c8c8 mb-4">
          <h2 class="border-c8c8">Vendors</h2>
          <a [routerLink]="[]" class="ms-auto text-gray550">
            <i class="icon-add fs-18"></i>
          </a>
        </div>
        <table class="table table-borderless table-stats">
          <tbody>
            <tr>
              <td class="fw-bold">Nutritionists</td>
              <td>Nutritionists Name</td>
            </tr>
            <tr>
              <td class="fw-bold">Acupuncture</td>
              <td>Acupuncture Name</td>
            </tr>
            <tr>
              <td class="fw-bold">Dentists</td>
              <td>Dentists Name</td>
            </tr>
            <tr>
              <td class="fw-bold">Physical Therapy</td>
              <td>Physical Therapy Name</td>
            </tr>
            <tr>
              <td class="fw-bold">Chiropractors</td>
              <td>Chiropractors Name</td>
            </tr>
            <tr>
              <td class="fw-bold">Hearing Professionals</td>
              <td>Hearing Professionals Name</td>
            </tr>
            <tr>
              <td class="fw-bold">Optometrists</td>
              <td>Optometrists Name</td>
            </tr>
            <tr>
              <td class="fw-bold">Skincare Specialists</td>
              <td>Skincare Specialists Name</td>
            </tr>
            <tr>
              <td class="fw-bold">Massage</td>
              <td>Massage Name</td>
            </tr>
            <tr>
              <td class="fw-bold">Demos</td>
              <td>Demos Name</td>
            </tr>
            <tr>
              <td class="fw-bold">Raffle Prizes</td>
              <td>Raffle Prizes Name</td>
            </tr>
            <tr>
              <td class="fw-bold">Free Screenings</td>
              <td>Free Screenings Name</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
