<div class="modal-header justify-content-center">
  <div class="col col-sm-10 d-flex justify-content-start">
    <h4 class="modal-title">Acknowledgement</h4>
  </div>
</div>

<div class="modal-body row justify-content-center">
  <div class="col col-sm-10">
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore labore
      consequatur quibusdam provident quo asperiores voluptatem illum eveniet
      repellat, necessitatibus cupiditate eligendi perferendis adipisci atque
      officiis distinctio esse repellendus voluptatum qui quod earum aperiam!
      Unde dolore incidunt aperiam amet illo, nemo atque doloremque, iste ipsa
      explicabo velit libero laudantium ducimus quibusdam cupiditate harum qui
      minima reiciendis itaque error id. Voluptatum quam atque nam tempora,
      corrupti vel, repellendus facere molestias, repellat cupiditate architecto
      adipisci recusandae explicabo qui illo aliquam? Deserunt aspernatur ipsa
      eaque commodi voluptatem repudiandae iusto dignissimos aliquam deleniti.
      Eius, a quidem aperiam distinctio accusamus sit omnis ut dicta eos cum
      architecto illo ullam harum possimus porro, vitae incidunt. Ratione,
      tempore. Blanditiis porro asperiores beatae fugit similique! Dolores
      inventore necessitatibus illo aut animi ipsa ea velit esse, aperiam
      blanditiis placeat, incidunt recusandae exercitationem, eos in architecto
      reprehenderit sapiente autem at veniam quis odio eveniet! Vero illo
      corrupti totam magnam libero deleniti quo aspernatur repellendus, corporis
      dolor temporibus ex quisquam ipsam consectetur. Voluptas porro laboriosam
      nam incidunt quasi quis, obcaecati distinctio itaque aliquid maxime
      eligendi, consequatur, fugiat voluptatum neque accusantium fugit et
      possimus perferendis quaerat sed enim reiciendis mollitia vel sunt.
      Laboriosam harum porro expedita ducimus odit iste numquam nobis eligendi,
      unde dolorum delectus est aut at voluptatem nostrum exercitationem totam
      eius in. Pariatur beatae sapiente iste itaque, provident ipsam
      exercitationem totam quos, nihil, obcaecati voluptates quidem earum libero
      nisi ratione numquam cumque repellat praesentium minus eveniet. Iste, ipsa
      repellendus magni quo nisi modi nam repellat commodi ipsam qui quasi
      facilis? Repellendus quis ad ut! Possimus, saepe minus? Nam vitae odit
      laboriosam quibusdam eaque quod, voluptatibus minus accusamus consequuntur
      delectus quam, totam voluptas blanditiis! Culpa inventore repellat
      sapiente libero quia maxime reprehenderit suscipit officiis, quo
      dignissimos possimus perspiciatis consectetur? Officia, nemo explicabo
      amet voluptas animi veniam doloremque, ad quam atque ratione distinctio
      labore voluptatibus. Quasi consequatur reprehenderit at delectus! Culpa
      quae aperiam debitis recusandae assumenda tenetur magnam cumque laborum id
      vero iure velit, error accusamus, ea esse ducimus suscipit illo quibusdam
      fugit ad dolor? Obcaecati nemo iste eius, reiciendis fuga quas dolorem nam
      similique officiis eaque vitae voluptate voluptas fugit fugiat deleniti
      natus aut porro id voluptatibus? Qui maiores, laborum molestias, optio sit
      tempore reiciendis omnis adipisci modi expedita corrupti quasi? Vitae
      praesentium rem esse, perferendis optio voluptatem culpa et quia minus.
      Quis quo repellat blanditiis numquam id. Facilis quae neque a expedita
      inventore, quam numquam repellat iusto labore accusamus saepe.
    </p>
    <div class="d-flex justify-content-center">
      <button (click)="_modal.close('accept'); isLoading = true" class="btn btn-with-icon btn-primary my-3 text-white d-flex gap-2">
        <btn-loader *ngIf="isLoading"></btn-loader>
        <i *ngIf="!isLoading" class="icon-tik"></i>
        Accept
      </button>
    </div>
  </div>
</div>