<!-- page title -->
<div class="row g-0 align-items-start overflow-hidden">
  <div class="col-sm-auto">
    <div class="db-page-titles">
      <h1 class="db-page-title text-tartiary mb-1">Broker list</h1>
    </div>
<!--    <h2 class="db-page-subtitle text-tartiary">280,256</h2>-->
  </div>
<!--  <div class="col ms-auto">-->
<!--    <div class="row align-items-center  justify-content-end">-->
<!--      <div class="col-auto mb-2">-->
<!--        <button class="btn btn-outline-success btn-with-icon">-->
<!--          Bulk Upload-->
<!--          <i class="ms-3 icon-csv"></i>-->
<!--        </button>-->
<!--      </div>-->
<!--      <div class="col-auto mb-2 ps-md-0">-->
<!--        <button class="btn btn-light btn-icon-only text-primary">-->
<!--          <i class="icon-text-file"></i>-->
<!--        </button>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
</div>
<!-- page title ends -->

<!-- Page content box ends -->
<div class="card mt-3">
  <div class="card-body">
    <!-- Card header items starts -->
    <div class="row mb-1">
      <div class="col-auto mb-2">
        <table-search-field [searchValue]="searchText"
                            (searchValueChange)="showSearchResult($event)"></table-search-field>
      </div>
      <div class="col-auto ms-xl-auto mb-2">
<!--        <select class="form-select">-->
<!--          <option value="">Jun 2020 - July 2020</option>-->
<!--          <option value="1">Dhaka</option>-->
<!--          <option value="2">Gazipur</option>-->
<!--          <option value="3">Narayan Gonj</option>-->
<!--        </select>-->
      </div>
      <div class="col-auto mb-2">
<!--        <select class="form-select">-->
<!--          <option value="">Company</option>-->
<!--          <option value="1">Cocacola</option>-->
<!--          <option value="2">Macdonalds</option>-->
<!--          <option value="3">Infinity</option>-->
<!--        </select>-->
      </div>
      <div class="col-auto mb-2">
        <button class="btn btn-outline-primary btn-with-icon" type="button" (click)="openModal()">
          <i class="icon-add me-3" *ngIf="!isLoading"></i>
          <btn-loader class="me-3" *ngIf="isLoading"></btn-loader>
          Add Broker
        </button>
      </div>
    </div>
    <!-- Card header items ends -->
    <list-table [isDataLoaded]="isDataLoaded" [row]="6" [column]="7" [dataLength]="organizationList?.length" [paging]="paging"
                (onPageChange)="pageChanged($event)">
      <ng-container tableHeader>
        <th class="text-nowrap cursor-pointer">
          Broker ID
        </th>
        <th class="text-nowrap cursor-pointer">
          Broker Name
        </th>
        <th class="text-nowrap cursor-pointer">
          Mobile Number
        </th>
        <th class="text-nowrap cursor-pointer">
          Email Address
        </th>
        <th class="text-nowrap cursor-pointer">
          Address
        </th>
        <th class="text-nowrap text-center cursor-pointer">
          Status
        </th>
        <th class="text-nowrap text-center  cursor-pointer">
          Action
        </th>
      </ng-container>
      <ng-container tableBody>
        <tr class="cursor-pointer" *ngFor="let item of organizationList; let i = index">
          <td>
            {{item.itemId}}
          </td>
          <td>
            <user-thumb-name [userData]="{ ProPic: item.logo, UserName: item.name }"></user-thumb-name>
          </td>
          <td>
           {{item.phoneNumber }}
          </td>
          <td class="text-truncate text-nowrap">
            {{item.companyEmail}}
          </td>
          <td class="text-truncate">
            {{item.address}}
          </td>
          <td class="text-center">
            <div
              class="btn btn-sm rounded-pill cursor-default mx-auto fw-bold"
              [ngClass]="statusColor(item.status)"
            >
              {{status(item.status)}}
            </div>
          </td>
          <td class="text-center">
            <div ngbDropdown container="body">
              <a ngbDropdownToggle class="no-drop-icon">
                <i class="icon-action fs-24"></i>
              </a>
              <div ngbDropdownMenu>
                <button ngbDropdownItem>Edit</button>
                <button ngbDropdownItem>Delete</button>
              </div>
            </div>
          </td>
        </tr>
      </ng-container>
    </list-table>
  </div>
</div>
<!-- Page content box ends -->
