<registration-form-wrapper [stepNo]="7">
  <ng-container form-heading>
    <h3 class="text-dark text-center mb-40"><b>Set Your Password</b></h3>
  </ng-container>
  <form
    [formGroup]="passwordForm"
    #passwordFormRef="ngForm"
  >
    <div class="form-group mb-3">
      <div class="login-inputs input-group password-fields">
        <span class="input-group-text">
          <i class="icon-lock"></i>
        </span>
        <input
          [type]="passFieldType ? 'text' : 'password'"
          maxlength="20"
          class="form-control"
          formControlName="password"
          placeholder="Password"
        />
        <button
          class="btn btn-outline-c8c8 border-left-0"
          type="button"
          (click)="togglePassFieldType()"
        >
          <i
            class="fs-16"
            [ngClass]="passFieldType ? 'icon-eye-o' : 'icon-eye-c'"
          ></i>
        </button>
      </div>
      <div
        class="text-danger"
        *ngIf="passwordFormFields.password?.errors?.required && passwordFormRef.submitted"
      >
        Password cannot be empty.
      </div>
      <div
        class="text-danger"
        *ngIf="passwordFormFields.password?.errors?.passwordStrength && (passwordFormFields.password?.touched || passwordFormFields.password?.dirty)"
      >
        Enter a combination of at least 8 characters including numbers,special character & letters.
      </div>
    </div>
    <div class="form-group mb-20">
      <div class="login-inputs input-group password-fields">
        <span class="input-group-text">
          <i class="icon-lock"></i>
        </span>
        <input
          [type]="isConfirmPasswordShown ? 'text' : 'password'"
          maxlength="20"
          class="form-control"
          formControlName="confirmPassword"
          placeholder="Repeat Password"
        />

        <button
          class="btn btn-outline-c8c8 border-left-0"
          type="button"
          (click)="isConfirmPasswordShown = !isConfirmPasswordShown"
        >
          <i
            class="fs-16"
            [ngClass]="isConfirmPasswordShown ? 'icon-eye-o' : 'icon-eye-c'"
          ></i>
        </button>
      </div>
      <div
        class="text-danger"
        *ngIf="passwordFormFields.confirmPassword?.errors?.required && passwordFormRef.submitted"
      >
        Repeat password cannot be empty.
      </div>
      <div
        class="text-danger"
        *ngIf="!passwordFormFields.confirmPassword?.errors?.required && passwordFormFields.confirmPassword?.errors?.confirmPasswordError && passwordFormRef.submitted"
      >
        Passsword and Repeat Password doesn't match.
      </div>
    </div>

    <div class="d-flex justify-content-center mt-70">
      <button
        type="submit"
        class="btn btn-lg btn-secondary rounded-pill text-white text-capitalize btn-with-loader px-45"
        (click)="handleFormSubmit()"
      >
        Continue
        <btn-loader *ngIf="isLoading"></btn-loader>
      </button>
    </div>
  </form>